.main {
  background-color: rgb(208, 131, 16);
  display: flex;
  justify-content: center;
}

.innerBox {
  width: 50vw;
  min-height: 50vh;
  border-radius: 3rem;
  margin: 5rem;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noterow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-radius: 1rem;
  border-width: 1px;
  border-color: chocolate;
  padding: 10px;
  margin: 10px;
  height: 5rem;
  width: 15rem;
}

.deleteNote {
    height: 50px;
}
